.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px; /* Increased padding for a taller header */
  background-color: white; /* White background */
  width: 100%;  /* Full width */
  height: 70px;  /* Increased height */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 180px;  /* Adjusted width for logo */
  height: auto;
}

.header-nav {
  display: flex;
  gap: 30px;  /* Increased gap for wider spacing */
}

.header-nav-link {
  color: #011c3a;  /* Dark blue color for text */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-nav-icon {
  margin-right: 8px;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.header-icon {
  color: #011c3a;  /* Dark blue for icons */
  font-size: 1.5rem;
}



